
.idea/workspace.xml

.gradle/7.4/checksums/checksums.lock

.gradle/7.4/dependencies-accessors/dependencies-accessors.lock

.gradle/7.4/dependencies-accessors/gc.properties

.gradle/7.4/executionHistory/executionHistory.lock

.gradle/7.4/fileChanges/last-build.bin

.gradle/7.4/fileHashes/fileHashes.bin

.gradle/7.4/fileHashes/fileHashes.lock

.gradle/7.4/gc.properties

.gradle/buildOutputCleanup/buildOutputCleanup.lock

.gradle/buildOutputCleanup/cache.properties

.gradle/vcs-1/gc.properties

.idea/compiler.xml

.idea/gradle.xml

.idea/misc.xml
